
<app-header></app-header>

<div class="container">
  <div class="mt-5 text-center">
    <h3 class="text-white">Game Name</h3>
    <img alt="game-name" src="http://devapi.playit.mobi/games-photos/107884_93x100.jpg">
  </div>

  <div class="d-flex justify-content-around w-75 mx-auto py-2 bg-transBlack my-4 text-gray">
    <div>
      <p class="h1">+3</p>
      <p>Rated For</p>
    </div>
    <div>
      <p class="h1">+3</p>
      <p>Rated For</p>
    </div>
    <div>
      <p class="h1">+3</p>
      <p>Rated For</p>
    </div>
    <div>
      <p class="h1">+3</p>
      <p>Rated For</p>
    </div>
    <div>
      <p class="h1">+3</p>
      <p>Rated For</p>
    </div>
  </div><!-- d-flex -->
  
  <h4 class="text-white font-weight-bold">About the game / what is new?</h4>
  <p class="text-gray">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque maiores explicabo natus quos minima, porro quisquam fuga modi.</p>
  <div class="row">
    <div class="col-8">
      <hr class="bg-white">
    </div><!-- col-8 -->
    <div class="col-4">
      <div class="row">
        <div class="col-4">
          <p class="d-inline-block text-white">More Details</p>
        </div><!-- col-4 -->
        <div class="col-8">
          <hr class="bg-white">    
        </div><!-- col-8 -->
      </div><!-- row -->
    </div><!-- col-4 -->
  </div><!-- row -->
  <p class="text-gray">Game vendr / Developer </p>
  <p class="lead text-white" >Lorem ipsum</p>
  <hr class="bg-white">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" width="40%" alt="Google play" src="../../assets/images/google-play.png">
    </div><!-- col-4 -->

    <div class="col-4">
      <p class="text-gray font-weight-bold">Downloads on Google Play</p>
      <p class="text-white">100,00</p>
    </div><!-- col-4 -->

    <div class="col-4">
      <p class="text-gray font-weight-bold">ADE-Price-Free</p>
      <p class="text-white">Free</p>
    </div><!-- col-4 -->
    
  </div><!-- row -->
  </div>

<app-footer></app-footer>
