<div class="my-4 w-50 mx-auto text-gray container">
    <p class="text-gray m-0">Search Games</p>
  <div class="row">

    <div class="col-9 pr-0">
        <input type="search" class="form-control bg-transBlack border-0 text-white" >
    </div><!-- col-9 -->
    <div class="col-3">
      <button type="submit" class="btn form-control d-block searchBtn text-gray">GO 
        <div class="d-inline-block text-righ">
          <img class="" alt="icon" src="../../../../assets/images/logo-icon-black.png" width="20">
        </div>
      </button>
    </div><!-- col-3 -->
  </div><!-- row -->

  <div class="row mt-4">
    <div class="col-3">
      <p class="text-gray m-0">Game Type</p>
      <select class="form-control searchOptions">
        <option value="">Html</option>
        <option value="">java Script</option>
        <option value="">Andriod</option>
        <option value="">Ios</option>
      </select>
    </div><!-- col-3 -->
    <div class="col-3">
      <p class="text-gray m-0">Quality</p>
      <select class="form-control searchOptions">
        <option value="">All</option>
        <option value="">High</option>
        <option value="">Low</option>
      </select>
    </div><!-- col-3 -->
    <div class="col-3">
      <p class="text-gray m-0">Genre</p>
      <select class="form-control searchOptions">
        <option value="">All</option>
        <option value="">All</option>
      </select>
    </div><!-- col-3 -->
    <div class="col-3">
      <p class="text-gray m-0">Order BY</p>
      <select class="form-control searchOptions">
        <option value="">latest</option>
        <option value="">oldest</option>
      </select>
    </div><!-- col-3 -->
  </div><!-- row -->
</div><!-- container -->