<div class="bg-dark pt-2">
  <div class="container d-flex flex-row align-items-center bg-dark text-gray">
    <div class="mr-5">
      <i class="far fa-question-circle fa-2x text-center mr-1"></i>        
      <p class="d-inline-block">Help<br>Topics</p>
    </div>
    <div>
      <i class="fas fa-praying-hands fa-2x text-center mr-1" ></i>
      <p class="d-inline-block">Privacy<br>policy</p>
    </div>
    <div class="ml-auto text-center">
      <i><img src="../../../assets/images/logo-icon.png"></i>
      <p>playIt 2018 All Rights Reseved</p>
    </div>
  </div>
</div>